<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

  {% if site.github.is_user_page %}
    <!-- Texte personnalisé ici -->
    <a href="{{ site.github.owner_url }}" class="btn">Voir mon profil GitHub</a>
  {% else %}
    <a href="{{ site.github.repository_url }}" class="btn">Voir le dépôt sur GitHub</a>
    {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
      <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
  {% endif %}
</header>
